body{
	width: 800px;
	height: auto;
	margin-left: 270px;
	font-size: 18;
	font-family: Arial;
	border-radius: 10px;
}


.main{
	
	width: 800px;
	height: 190px;
	border-radius: 5px;
	padding-top: 0.5px;
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 50px;


}
.footer{
	padding: 5px;
	background-color: blue;
	color: white;
}
.text_footer{
	color: white;
}



h2{
	color: red;
}
hr{
	color: red;
}

b{
	color: black;
}

div{
	color: black;


}